<mat-drawer-container [autosize]="true" class="min-h-full max-w-7xl mx-auto border-x p-4">
    <h1>My Orders :</h1>
    <table class="table-auto border-b-2 w-full my-2">
        <thead>
            <tr>
                <th class="px-4 py-2 border">Products Image</th>
                <th class="px-4 py-2 border">Products Name</th>
                <th class="px-4 py-2 border">Quntity</th>
                <th class="px-4 py-2 border">Price</th>
                <th class="px-4 py-2 border">Total</th>
                <th class="px-4 py-2 border">Created at</th>
                <th class="px-4 py-2 border">Status</th>
                
            </tr>
        </thead>
        <tbody>
            
          <tr  *ngFor="let item of orders">
                <td class=" text-center border  "><span *ngFor="let i of item.allProduct" ><img [src]="'http://127.0.0.1:3000/getimageP/'+i.id.pImages" alt="" srcset="" style="width:80px;height: 60px;"><br></span></td> 
                <td class=" text-center border "><span *ngFor="let i of item.allProduct">{{i.id.pName}}<br><br><br></span></td>
                <td class=" text-center border "><span *ngFor="let i of item.allProduct">{{i.qu}}<br><br><br></span></td>
                <td class=" text-center border "><span *ngFor="let i of item.allProduct">{{i.id.pPrice}}<br><br><br></span></td>
                <td class=" text-center border ">{{item.amount}}DT</td>
                <td class=" text-center border ">{{item.createdAt | date: 'yyyy-MM-dd'}}</td>
                <td class="text-sm text-center font-semibold border "><button [ngClass]="{'not':item.status=='Not processed','shepp':item.status=='Shipped','delivred':item.status=='Delivered','cancel':item.status=='Cancelled','pross':item.status=='Processing'}"> {{item.status}}</button></td>
               

            </tr> 
        </tbody>
    </table>
</mat-drawer-container>
