td img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.not{
    
    color: rgb(0, 0, 0);


}
.pross{
  
    color: rgb(101, 99, 255);

}
.cancel{
    color: rgb(255, 65, 65);

}
.delivred{
    color: rgb(4, 171, 99);

}
.shepp{
    color:rgb(172, 172, 7)

}